.box1 {
  width: 300px;
  height: 300px;
  background-color: #689b9e;
  margin: 20px 5px 50px;
  padding: 60px 30px;
  /* 背景色設定 */
}

.box1-1 {
  width: 300px;
  height: 300px;
  background-color: red;
  margin: 30px;
  padding: 30px;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  border: 5px solid yellow;
}

.box2-2 {
  width: 100px;
  height: 100px;
  background-color: goldenrod;
  border: double black;
}

.box2-3 {
  width: 100px;
  height: 100px;
  background-color: green;
  border: solid black; /* まずborderの種類と色を指定 */
  border-top-width: 5px;
  border-right-width: 0px;
}
